<%= form_with(model: equipment, local: true) do |form| %>

  <% if equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

      <ul>
      <% equipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id , class: 'label'%>
    <%= form.number_field :user_id , class: 'input'%>
  </div>

  <div class="field">
    <%= form.label :name , class: 'label' %>
    <%= form.text_field :name , class: 'input' %>
  </div>

  <div class="field">
    <%= form.label 'Model name', class: 'label' %>
    <%= form.text_field :name_of_model , class: 'input', value: '' %>
  </div>

  <div class="field">
    <%= form.label :model_number , class: 'label' %>
    <%= form.text_field :model_number , class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :serial_number , class: 'label' %>
    <%= form.text_field :serial_number , class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :inventory_number , class: 'label' %>
    <%= form.text_field :inventory_number , class: 'input' %>
  </div>

  <div class="field">
    <%= form.label 'Year acquired', class: 'label' %>
    <%= form.select :acquired_at , 1981 .. Date.today.year ,include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :location , class: 'label' %>
    <%= form.text_field :location , class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :manufacturer , class: 'label' %>
    <%= form.text_field :manufacturer , class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :country_of_origin , class: 'label' %>
    <%= form.country_select :country_of_origin , class: 'input', include_blank: true  %>
  </div>

  <div class="field">
    <%= form.label :warranty_period , class: 'label' %>
    <%= form.text_field :warranty_period , class: 'input' %>
  </div>

  <div class="field">
  <%= form.label 'additional information' , class: 'label' %>
    <% Equipment.additional_infos.each do |key, val| %>
      <%= form.check_box :additional_infos, {:multiple => true}, val, class: 'input' %>
      <%= form.label key , class: 'checkbox' %>
    <% end %>  
  </div>

  <div class="field">
    <%= form.label 'other_information' , class: 'label' %>
    <%= form.number_field :other_info, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label :dealer_id , class: 'label' %>
    <%= form.collection_select :dealer_id, Dealer.order(:name),:id,:name, include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit 'submit' , class: 'button is-success' %>
  </div>
<% end %>
