<%= search_form_for @q do |f| %>
<div class="field is-horizontal">
  <nav class="panel">
    <div class="panel-block">

      <div class="field-label">
        <%= f.label :name_cont, "Name", class: 'label' %> 
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded">
            <%= f.search_field :name_cont, placeholder: 'Enter name...' , class: 'input name-input' %>
          </p>
        </div>
      </div>

      <div class="field-label" style="margin-left: 20px;">
        <%= f.label :name_of_model_cont, "Model" , class: 'label' %> 
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded">
            <%= f.search_field :name_of_model_cont, placeholder: 'Enter model name...' , class: 'input model-name-input' %>
          </p>
        </div>
      </div>

    <div class="field-label">
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= f.submit ("Search") , class: 'button is-primary'%>
          <button class="button clear-button">
            Clear
          </button>
        </div>
      </div>
    </div>
    </div>
  </nav>
</div>
<% end %>


<div class="table-wrapper-scroll-y my-custom-scrollbar" style="margin-top: 20px;">

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Department</th>
        <th>Acquired year</th>
        <th>Model name</th>
        <th>Location</th>
        <th>Manufacturer</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @search_equipments.each do |equipment| %>
      <tr>
        <td><%= link_to equipment.name , equipment %></td>
        <td><%= Department.find_by_id(equipment.department_id).name %></td>
        <td><%= equipment.acquired_year %></td>
        <td><%= equipment.model_number %></td>
        <td><%= equipment.location %></td>
        <td><%= equipment.manufacturer %></td>
        <%= form_with(model: equipment, remote: true) do |form| %>
          <td><%= form.select :status, Equipment.statuses.keys, {}, {class: 'equipment_status'} %></td>
          <td><%= form.submit 'update' , class: 'button is-small update-button' %></td>
        <% end %>
        <% if current_user.role=="admin" %>
           <td><%= link_to 'Edit', edit_equipment_path(equipment), class: 'button is-small is-success' %></td>
           <td><%= link_to 'Destroy', equipment, method: :delete, data: { confirm: 'Are you sure?' } , class: 'button is-danger is-small' %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>

  </table>
</div>

<%= paginate @search_equipments  %>

