<p id="notice"><td><%= notice %></td></p>

 <table class="table is-striped" width="100%">
   <tr>
    <th>Name</th>
    <td><%= @equipment.name %></td>
   </tr> 
   <tr>
    <tr>
      <th>Department</th>
      <td><%= Department.find_by_id(@equipment.department_id).name %></td>
    </tr>
      <th>Status</th>
      <td><%= @equipment.status %></td>
    </tr>
   <tr>
      <th>Model name</th>
      <td><%= @equipment.name_of_model %></td>
    </tr>
    <tr>
      <th>Location</th>
      <td><%= @equipment.location %></td>
    </tr>
    <tr>
      <th>Manufacturer</th> 
      <td><%= @equipment.manufacturer %></td>
    </tr>
    <tr>
      <th>Country of origin</th> 
      <% if not @equipment.country_of_origin.nil? %>
         <td><%= ISO3166::Country[@equipment.country_of_origin].unofficial_names.first  %></td>
      <% else %>
         <td></td>
      <% end %>
    </tr>
    <tr>
      <th>Model number</th> 
      <td><%= @equipment.model_number %></td>
    </tr>
    <tr>
      <th>Serial number</th>
      <td><%= @equipment.serial_number %></td>
    </tr>
    <tr>
      <th>Inventory number</th>
      <td><%= @equipment.inventory_number %></td>
    </tr>
    <tr>
      <th>Acquired year</th> 
      <td><%= @equipment.acquired_year %></td>
    </tr>
    <tr>
      <th>Warranty period</th>
      <td><%= @equipment.warranty_period %></td>
    </tr>
    <tr>
      <th>Additional info</th>
      <td><%= @equipment.additional_info %></td>
    </tr>
    <tr>
      <th>Other info</th>
      <td><%= @equipment.other_info %></td>
    </tr>
    <tr>
      <th>Remark</th>
      <td><%= @equipment.remark %></td>
    </tr>
    <tr>
      <th>Where purchased</th>
      <td><%= @equipment.where_purchased %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= @equipment.description %></td>
    </tr>
    <tr>
      <th>Price US$</th>
      <td><%= number_with_delimiter(@equipment.price, :delimiter => ',') %></td>
    </tr>
    <tr>
      <th>Internal number</th>
      <td><%= @equipment.internal_number %></td>
    </tr>
  </table> 

<% if current_user.role=="admin" %>
  <td><%= link_to 'Edit', edit_equipment_path(@equipment) , class: 'button is-success'%></td> 
<% end %>
