<h3>A user has requested maintenance</h3>

<p>The detail of your request is below:</p>

<hr/>
<p><b>Requester: </b><%= @user.name %></p>

<p><b>Trace Number: </b><%= @maintenance.trace_number %></p>

<p><b>Date of request: </b><%= @maintenance.created_at.strftime("%d/%m/%Y") %></p>

<p><b>Equipment name: </b><%= Equipment.find_by_id(@maintenance.equipment_id).name %></p>

<p><b>Affiliated department of the equipment : </b><%= Department.find_by_id(Equipment.find_by_id(@maintenance.equipment_id).department_id).name %></p>

<p><b>Problem description: </b><%= @maintenance.description %></p>

<p><b>Precautionary hazardous issues: </b><%= @maintenance.precaution %></p>
<hr/>
