<h1 class="is-size-3 has-text-centered" style="margin-bottom: 40px;">Welcome to CeSEM Digital System</h1>   

<ul class="bxslider">
	<div><%=image_tag "landing/3dp.png", width: '600px' %></div>
  <div><%=image_tag "landing/spectrometer.png", width: '600px' %></div>
	<div><%=image_tag "landing/macharia.png", width: '600px' %></div>
	<div><%=image_tag "landing/masinde.png", width: '600px' %></div>
	<div><%=image_tag "landing/nderi.png", width: '600px' %></div>
	<div><%=image_tag "landing/ff_exp_bench.png", width: '600px' %></div>
	<div><%=image_tag "landing/pc.png", width: '600px' %></div>
  <div><%=image_tag "landing/ups.png", width: '600px' %></div>
	<div><%=image_tag "landing/microscope.png", width: '600px' %></div>
	<div><%=image_tag "landing/microscope2.png", width: '600px' %></div>
</ul>


<footer class="footer" style="height:200px;margin-top: 60px;">
    <div class="bd-footer-links" style="margin-top: -40px;">
      <div class="columns">
        <div class="column is-5">
            <h3 class="is-size-6"><b>Links</b></h3>

            <p class="bd-footer-link-title">
                <a href="http://www.jkuat.ac.ke/">Jomo Kenyatta University of Agriculture and Technology</a>
            </p>

            <p class="bd-footer-link-title">
                <a href="http://www.jkuat.ac.ke/colleges/engineering/">College of Engineering and Technology (COETEC)</a>
            </p>

            <p class="bd-footer-link">
              <a href="http://jkuat.ac.ke/projects/africa-ai-japan/">AFRICA-ai-JAPAN Project</a>
            </p>

            <p class="bd-footer-link">
              <a href="https://www.facebook.com/jicakenya/">JICA Kenya</a>
            </p>

        </div>
      </div>
        <div class="has-text-centered" style="margin-top: -20px;">
         <small>&copy; Copyright 2019, Center for Scientific Equipment Maintenance (CeSEM), JKUAT</small>
      </div>
    </div>
</footer>