<h1 class="is-size-3">Welcome to CeSEM Digital System</h1>   

<ul class="bxslider">
	<div><%=image_tag "landing/1.png", width: '600px' %></div>
	<div><%=image_tag "landing/2.png", width: '600px' %></div>
	<div><%=image_tag "landing/3.png", width: '600px' %></div>
	<div><%=image_tag "landing/4.png", width: '600px' %></div>
	<div><%=image_tag "landing/5.png", width: '600px' %></div>
	<div><%=image_tag "landing/6.png", width: '600px' %></div>
	<div><%=image_tag "landing/7.png", width: '600px' %></div>
	<div><%=image_tag "landing/8.png", width: '600px' %></div>
	<div><%=image_tag "landing/9.png", width: '600px' %></div>
</ul>
