<h1 class="is-size-4">Report</h1>

<%= form_tag('summary', method: :get) do %>
<div class="field">
  <%= date_select("report", "month", order: [:month], selected: Date.today, include_blank: false) %>
  <%= date_select("report", "year", order: [:year], selected: Date.today, include_blank: false) %>
  <%= submit_tag 'Filter' , class: 'button' %>
  <%= link_to 'Clear', '/summary', class: 'button' %>
</div>
<% end %>

<p>Requested maintenance: <%= @requested_maintenances.count %></p>
<%= pie_chart @departments %>

<p>Completed maintenance: <%= @completed_maintenances.count %></p> 
<%= pie_chart @departments2 %>

<p>Detail of completed maintenance</p>
<table class="table">
  <thead>
    <tr>
     <th>Equipment name</th>
     <th>Department</th>
     <th>Requester</th>
     <th>Request date</th>
     <th>Expert's diagnosis</th>
   </tr>
 </thead>
 <tbody>
  <% @completed_maintenances.each do |m| %>
   <tr>
    <td><%= Equipment.find_by_id(m.equipment_id).name %></td>
    <td><%= Department.find_by_id(Equipment.find_by_id(m.equipment_id).department_id).name %></td>
    <td><%= User.find_by_id(m.user_id).name %></td>
    <td><%= m.created_at.strftime("%d/%m/%Y") %></td>
    <td><%= m.diagnosis %></td>
  </tr>
  <% end %>
</tbody>

</table>


