<h1 class="is-size-4">Report for <%= @month_name %> <%= @year %> </h1>

<%= form_tag('summary', method: :get) do %>
<div class="field">
  <%= date_select("report", "month", order: [:month], selected: Date.today, include_blank: true) %>
  <%= date_select("report", "year", order: [:year], selected: Date.today, include_blank: false) %>
  <%= submit_tag 'Filter' , class: 'button' %>
  <%= link_to 'Clear', '/summary', class: 'button' %>
</div>
<% end %>

<p>Requested maintenance: <%= @requested_maintenances.count %></p>
<%= pie_chart @departments %>

<p>Completed maintenance: <%= @completed_maintenances.count %></p> 
<%= pie_chart @departments2 %>

<p>Detail of completed maintenance</p>
<table class="table">
  <thead>
    <tr>
     <th>Department</th>
     <th>Equipment name</th>
     <th>Manufacturer</th>
     <th>Model name</th>
     <th>Model number</th>
     <th>Serial number</th>
     <th>Inventory number</th>
     <th>Location</th>
     <th>Year acquired</th>
     <th>Country of origin</th>
     <!-- <th>Requester</th> -->
     <!-- <th>Request date</th> -->
     <th>Expert's diagnosis</th>
     <th>Date of completion</th>
   </tr>
 </thead>
 <tbody>
  <% @completed_maintenances.each do |m| %>
   <tr>
    <td><%= Department.find_by_id(Equipment.find_by_id(m.equipment_id).department_id).name %></td>
    <td><%= Equipment.find_by_id(m.equipment_id).name %></td>
    <td><%= Equipment.find_by_id(m.equipment_id).manufacturer %></td>
    <td><%= Equipment.find_by_id(m.equipment_id).name_of_model %></td>
    <td><%= Equipment.find_by_id(m.equipment_id).model_number %></td>
    <td><%= Equipment.find_by_id(m.equipment_id).serial_number %></td>
    <td><%= Equipment.find_by_id(m.equipment_id).inventory_number %></td>
    <td><%= Equipment.find_by_id(m.equipment_id).location %></td>
    <td><%= Equipment.find_by_id(m.equipment_id).acquired_year %></td>
    <td><%= Equipment.find_by_id(m.equipment_id).country_of_origin %></td>
    <!-- <td><%= User.find_by_id(m.user_id).name %></td> -->
    <!-- <td><%= m.created_at.strftime("%d/%m/%Y") %></td> -->
    <td><%= m.diagnosis %></td>
    <td><%= m.completed_at %></td>
  </tr>
  <% end %>
</tbody>

</table>


