<%= form_with(model: maintenance, local: true) do |form| %>
  <% if maintenance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(maintenance.errors.count, "error") %> prohibited this maintenance from being saved:</h2>

      <ul>
      <% maintenance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label class='label'>Date of request</label>
    <p class="input"><%= Time.now.strftime("%d/%m/%Y") %></p>
  </div>

  <div class="field">
    <label class='label'>Equipment name</label>
    <% if not @equipment.nil? %>
      <p class="input"><%= @equipment.name %></p>
    <% end %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id , value: @current_user.id, class: 'input' %>
  </div>

  <div class="field">
    <% if not @equipment.nil? %>
      <%= form.hidden_field :equipment_id , value: @equipment.id, class: 'input' %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label 'Problem description', class: 'label' %>
    <%= form.text_area :description , class: 'textarea' %>
  </div>

  <div class="field">
    <%= form.label 'Any precautionary hazardous issues: (provide details below)', class: 'label' %>
    <%= form.text_area :precaution , class: 'textarea' %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: 'button is-success' %>
  </div>
<% end %>
