<%= form_with(model: maintenance, local: true) do |form| %>
  <% if maintenance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(maintenance.errors.count, "error") %> prohibited this maintenance from being saved:</h2>

      <ul>
      <% maintenance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Date of request', class: 'label' %>
    <%= form.text_field '' , value: Time.now.strftime("%d/%m/%Y"), class: 'input' , disabled: true %>
  </div>

  <div class="field">
    <%= form.label :equipment_id, class: 'label' %>
    <%= form.collection_select :equipment_id, Equipment.order(:name),:id,:name, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :description , class: 'label' %>
    <%= form.text_area :description , class: 'textarea' %>
  </div>

  <div class="field">
    <%= form.label :precaution , class: 'label' %>
    <%= form.text_area :precaution , class: 'textarea' %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: 'button is-success' %>
  </div>
<% end %>
