<h2 class="is-size-4">General information</h2>
 <table class="table is-striped" width="100%">
   <tr>
    <th>Trace number</th>
    <td><%= @maintenance.trace_number %></td>
   </tr> 
   <tr>
    <th>Requester</th>
    <td><%= User.find_by_id(@maintenance.user_id).name %></td>
   </tr> 
   <tr>
    <th>Equipment name</th>
    <td><%= Equipment.find_by_id(@maintenance.equipment_id).name %></td>
   </tr> 
   <tr>
    <th>Requested date</th>
    <td><%= @maintenance.created_at.strftime("%d/%m/%Y") %></td>
   </tr> 
   <tr>
    <th>Department</th>
      <td><%= Department.find_by_id(Equipment.find_by_id(@maintenance.equipment_id).department_id).name %></td>
   </tr> 
   <tr>
    <th>Description</th>
    <td><%= @maintenance.description %></td>
   </tr> 
   <tr>
    <th>Precaution</th>
    <td><%= @maintenance.precaution %></td>
   </tr> 
 </table>

<h2 class="is-size-4">Response from CeSEM</h2>
<p>
  <strong>Diagnosis:</strong>
  <%= @maintenance.diagnosis %>
</p>

<p>
  <strong>Status:</strong>
  <%= @maintenance.status.titleize %>
</p>

<p>
  <strong>Scheduled at:</strong>
  <% if not @maintenance.scheduled_at.nil? %>
    <%= @maintenance.scheduled_at.strftime("%d/%m/%Y") %>
  <% end %>
</p>

<p>
  <strong>Completion expected at:</strong>
  <% if not @maintenance.completion_expected_at.nil? %>
    <%= @maintenance.completion_expected_at.strftime("%d/%m/%Y") %>
  <% end %>
</p>

<p>
  <strong>recommission projected at:</strong>
  <% if not @maintenance.recommission_projected_at.nil? %>
    <%= @maintenance.recommission_projected_at.strftime("%d/%m/%Y") %>
  <% end %>
</p>


<% if @maintenance.status != 'cancel_requested' %>
 <%= link_to 'Cancel Maintenance', maintenance_cancel_request_path(@maintenance.id), method: :put, data: {confirm: "Are you sure to cancel this maintenance?"}, class: 'button is-danger', style: 'margin-top: 40px;' %>
<% end %>
