
<div class="container" style="margin-top: 40px;">
 <h1 class="is-size-1 has-text-danger has-text-centered">CeSEM</h1>
 <div style="border: 1px solid hsl(204, 86%, 53%); margin: 0px 200px;"></div>
 <h2 class="is-size-3 has-text-centered"><span class="has-text-danger">Ce</span>ntre for <span class="has-text-danger">S</span>cientific <span class="has-text-danger">E</span>quipment <span class="has-text-danger">M</span>aintenance</h2>

 <div style="border: 1px solid hsl(348, 100%, 61%);margin: 0px 200px; margin-top: 100px;"></div>

 <div style="margin:20px 200px; border: 2px solid hsl(204, 86%, 53%); border-radius: 10px; padding: 40px 100px;">
  <p class="is-size-5 has-text-centered">Login to place your request</p>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.label :email , class: "label" %>
    <div class="control">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password , class: 'label' %>
    <div class="control">
      <%= f.password_field :password, autocomplete: "current-password", class: 'input' %>
    </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="field is-grouped is-grouped-centered" style="margin-top: 20px;">
    <p class="control">
      <div class="actions">
        <%= f.submit "Log in", class: 'button is-primary' %>
      </div>
    </p>
  </div>
  <% end %>

</div>

<div style="border: 1px solid hsl(348, 100%, 61%);margin: 0px 200px; margin-top: 20px;"></div>

<%= render "devise/shared/links" %>

</div>

