<%= form_with(model: billing, local: true) do |form| %>
  <% if billing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(billing.errors.count, "error") %> prohibited this billing from being saved:</h2>

      <ul>
      <% billing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :maintenance_id %>
    <%= form.number_field :maintenance_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
