<p id="notice"><%= notice %></p>

<h1>Billings</h1>

<table>
  <thead>
    <tr>
      <th>Maintenance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @billings.each do |billing| %>
      <tr>
        <td><%= billing.maintenance_id %></td>
        <td><%= link_to 'Show', billing %></td>
        <td><%= link_to 'Edit', edit_billing_path(billing) %></td>
        <td><%= link_to 'Destroy', billing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Billing', new_billing_path %>
