<!DOCTYPE html>
<html>
  <head>
    <title>Cesem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <body>

      <div class="container" style="margin-top: 60px; margin-bottom: 40px;">
      <% if user_signed_in? %>
         <div class="columns">
          <div class="column">
            <a class="is-size-4 has-text-danger" href="/">CeSEM</a>
          </div>
          <div class="column">
             <div class="is-pulled-right">
               <h2> <%= current_user.name %> is logged in.</h2> 
               <h4> email: <%= current_user.email %> </h4>
               <%= link_to "Sign Out", destroy_user_session_path, method: :delete , class: 'button is-danger is-pulled-right' %> 
             </div>
          </div>
         </div>
     <% end %>
  
        <%= yield %>
  
      </div>

    </body>
</html>
